<?xml version="1.0"?>
<robot name="rbkairos" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find rbkairos_description)/urdf/bases/rbkairos_base.urdf.xacro" />


	<!-- Include UR-5 ARM -->
	<!--xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" /-->
	  <!--ur10e parameters files -->
	  <xacro:arg name="joint_limit_params" default="$(find rbkairos_control)/config/ur/ur5e/joint_limits.yaml"/>
	  <xacro:arg name="kinematics_params" default="$(find rbkairos_control)/config/ur/ur5e/default_kinematics.yaml"/>
	  <xacro:arg name="physical_params" default="$(find rbkairos_control)/config/ur/ur5e/physical_parameters.yaml"/>
	  <xacro:arg name="visual_params" default="$(find rbkairos_control)/config/ur/ur5e/visual_parameters.yaml"/>
	  <!--common parameters -->
	  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
	  <xacro:arg name="safety_limits" default="false" doc="If True, enable the safety limits controller"/>
	  <xacro:arg name="safety_pos_margin" default="0.15" doc="The lower/upper limits in the safety controller" />
	  <xacro:arg name="safety_k_position" default="20" doc="Used to set k position in the safety controller" />

	<!-- import main macro -->
 	<xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>


	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="prefix" default="robot_"/>
	<xacro:arg name="ros_planar_move_plugin" default="false"/>
	<xacro:arg name="load_kinematics_file" default="false"/> <!-- Necesarry for ur_description compatible with official ur drivers-->

  <xacro:property name="arm_position_x" value="0.1883"/>
  <xacro:property name="arm_position_y" value="0"/>
  <xacro:property name="arm_position_z" value="0.38212"/>
  <xacro:property name="arm_orientation_r" value="0"/>
  <xacro:property name="arm_orientation_p" value="0"/>
  <xacro:property name="arm_orientation_y" value="0.0"/>

  <xacro:macro name="rbkairos" params="prefix publish_bf hq load_kinematics_file">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- RBKAIROS base -->
		<xacro:rbkairos_base prefix="$(arg prefix)" publish_bf="true" hq="true"/>


		<!-- UR-5 ARM -->
		<joint name="$(arg prefix)arm_base_joint" type="fixed">
						<origin xyz="${arm_position_x} ${arm_position_y} ${arm_position_z}" rpy="${arm_orientation_r} ${arm_orientation_p} ${arm_orientation_y}"/>
						<parent link="$(arg prefix)base_link" />
						<child link="$(arg prefix)arm_base_link" />
					</joint>	
		<xacro:ur_robot
			 prefix="$(arg prefix)arm_"
			 joint_limits_parameters_file="$(arg joint_limit_params)"
			 kinematics_parameters_file="$(arg kinematics_params)"
			 physical_parameters_file="$(arg physical_params)"
			 visual_parameters_file="$(arg visual_params)"
			 transmission_hw_interface="$(arg transmission_hw_interface)"
			 safety_limits="$(arg safety_limits)"
			 safety_pos_margin="$(arg safety_pos_margin)"
			 safety_k_position="$(arg safety_k_position)"/>

	</xacro:macro>

   <!-- Gazebo ros control pluggins -->
   <xacro:ros_control/>
   <xacro:if value="$(arg ros_planar_move_plugin)">
	   <xacro:omni_steering prefix="$(arg prefix)" publish_tf="true"/>
   </xacro:if>

   <xacro:rbkairos prefix="$(arg prefix)" publish_bf="true" hq="true" load_kinematics_file="$(arg load_kinematics_file)"/>

</robot>
